<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClubsSubscribers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65EE85B21C958C7400E2CC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE85CE1C958C7400E2CC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65EE85D91C958C7400E2CC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
